:root {
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.navbar_link {
  display: flex;
  justify-content: space-around;
}

.navbar_link-items {
  padding: 1rem;
}